html{
    height: 100%;
    overflow:hidden;
    font-weight:100;
}

body {
	margin: 0;
    letter-spacing:-0.03em;
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
}

	svg {
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    z-index: 3;

	    rect {
		    fill: rgba(215, 218, 218, 1);
		    -webkit-mask: url(#mask);
		    mask: url(#mask);;
		}
	}		
	

img {
	max-width: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
	min-width: 100%;
	min-height: 100%;
	width: 100%;
	height: auto;
	z-index: -1;
	overflow: hidden; 
}

a {
	padding: 10px;
	text-decoration: none;
	color: #727771;

	&:hover {
		color: #ab94cb;
	}
}

.portolio-logo__image {
	z-index: 1;
}

	.portolio-logo__animation {
		left: 17.5%;
		z-index: 2;
	}

	.hidden {
		display: none !important;
	}

footer, header {
	position: absolute;
	z-index: 4;
	width: 100%;
}

footer {
	display: none;
	padding: 30px 0;
	bottom: 0;
	text-align: center;

	@media (min-width: 1024px) {
    	display: block;
    }

}

header {
	display: block;
	top: 0;

	@media (min-width: 1024px) {
    	display: none;
    }
}

	.portfolio-contact__text {
	    display: inline-block;
	    margin: 0;
	    padding-bottom: 5px;
		font-size: 20px;
	    letter-spacing: 1px;
	    text-transform: uppercase;
	    border-bottom: 1px solid grey;
	   	color: #727771;;
	}

	.portfolio-contact__toggle {
		padding: 30px 0 0 30px;
	}

	.portfolio-contact--mobile {
		
		.fa-2x {
			padding-left: 30px;
			padding-bottom: 10px;
		}

		a {
			display: block;
			padding-left: 30px;
		}
	}

	.portfolio-contact__link {
		position: absolute;
	    width: 100%;
	    height: 50%;
	    z-index: 5;
	    transform: translate(0%, 50%);
	}